// NOTE: sticky footer
html,
body,
#__next,
.full-page-layout {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

#__next,
.full-page-layout {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1 0 auto;
}

*.skeleton {
  background-size: 400%;
  color: transparent !important;
  background-color: transparent !important;
  @apply animate-skeleton;
  @apply overflow-hidden;
  @apply bg-gradient-to-45 from-background-color-mixin-2 from-25% via-background-color-mixin-1 via-50% to-background-color-mixin-2 to-75%;
  @apply inline-flex;
  @apply border-0;
}
